<div class="container" [ngStyle]="{'background-image': getUrl(), 'height' : '6000px' , 'background-size' : 'contain'}">
<button type="button" class="btn btn-info">Clothing</button>
		<button type="button" class="btn btn-info">Shoes & Accesories</button>
		<button type="button" class="btn btn-info">Local Retail Outlets</button>
<!-- Carousel photos -->
<div class="container" style="height: 70vh; width: 100%; border: solid black 2px; background-color: blue;">
		<h2>SHOPPING</h2>
		
</div>

<!-- Products page -->
		<div class="image" style="height: 220vh; width: 100%; border: solid black 2px; background-color: red;"
			[ngStyle]="{'background': ' url (' + imageURL + ') no-repeat 0 0'}">

    </div>

<!-- Reviews -->
<div style="height: 70vh; width: 100%; border: solid black 2px; background-color: purple;"> 

</div>



	</div>